@import 'config';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 13px;
  font-family: 'Manrope', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: $color-four;
}

.article-content {
  border-radius: 20px;
  border: 2px solid red;
  width: 375px;
  background-color: white;
  z-index: 6;
  color: $color-one;
  &__img {
    background-image: url(/img/drawers.jpg);
    width: auto;
    height: 245px;
    border-radius: 20px 20px 0 0;
    background-size: cover;
    z-index: 0;
  }
  &__title {
    padding: 30px 30px 20px;
    font-size: 18px;
    font-weight: bolder;
  }
  &__paragraph {
    padding: 0 30px;
    line-height: 20px;
  }
  &__author {
    padding: 10px 30px;
    // display: flex;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 1fr;
    position: relative;
    &--avatar img {
      border: 1px solid red;
      border-radius: 50%;
      width: 40px;
    }
    &--button svg {
      border: 1px solid red;
      border-radius: 50%;
      position: relative;
      padding: 10px;
      padding-top: 7.5px;
      padding-bottom: 7.5px;
      justify-self: center;
      background-color: hsl(210, 46%, 95%);
    }
  }
}

//* You can also add a margin to the author and date to customize the space between the container
//TODO: Customize the svg button, make it bigger, and and a background, learn to code svg
//TODO: Relearn BEM Method
